<body class="bg-primary-subtle">
    <div class="card border rounded shadow p-4 row">
        <div class=" row text-center ">
            <h1 class="text-primary">Recipe.com</h1>
        </div>
    </div>
</body>
